<footer class="page-footer orange">
  <div class="footer-copyright orange darken-2">
    <div class="container">
      All articles belong to <a href='https://theverge.com/tech' target="_blank">The Verge</a>
      <a class="orange-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>